/******  GLOBAL CSS VARIABLES  ******/
/***  COLORS  ***/
/***  FONTS  ***/
* {
  font-size: 16px;
  font-family: "azo-sans-web", sans-serif;
  outline: none;
  color: #6d6e71; }

h1 {
  font-family: "vortice-concept", sans-serif; }

h2, h3, h4, h5, h6 {
  font-family: "azo-sans-web", sans-serif;
  line-height: 1.3; }

h1 {
  font-size: 18px; }

h2 {
  font-size: 30px; }

h3 {
  font-size: 24px; }

h4 {
  font-size: 18px; }

h5 {
  font-size: 14px; }

h6 {
  font-size: 10px; }

p {
  font-size: 14px;
  line-height: 1.3;
  font-weight: 900; }

::placeholder {
  opacity: .5;
  text-align: center; }

/***  MIXINS  ***/
.Header {
  background-color: #fff;
  position: fixed;
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center; }
  .Header h1 {
    display: flex;
    align-items: center;
    margin: auto;
    width: fit-content;
    color: #d6e0ff;
    transition: color .7s ease-in-out; }
  .Header h5 {
    color: #5c7ee5;
    transition: color .7s ease-in-out; }
  .Header .header-left {
    text-decoration: none;
    position: absolute;
    left: 25px; }
  .Header .header-left-resume {
    top: 15px; }
  .Header .header-left-linkedin {
    top: 40px; }
  .Header .header-left-github {
    top: 65px; }
  .Header .logo-left {
    display: flex;
    width: 61px;
    height: 61px;
    background-color: #5c7ee5;
    align-items: center;
    justify-content: center;
    color: #fff;
    transition: background-color .7s ease-in-out; }
  .Header .logo-red {
    background-color: #ff6d40; }
  .Header .logo-green {
    background-color: #4dff4d; }
  .Header .logo-text-red {
    color: #ffded4; }
  .Header .logo-text-green {
    color: #dbffdb; }

.red-text {
  color: #ff6d40 !important; }

.green-text {
  color: #4dff4d !important; }
