@import '../../variables.scss';

.Header {
  background-color: $white1;
  position: fixed;
  z-index: 10;
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: height .3s ease-in-out;
  box-shadow: 0px -4px 73px 0px rgba(0,0,0,0.31);

  h1 {
    display: flex;
    align-items: center;
    margin: auto;
    width: fit-content;
    color: $blue1;
    transition: all .3s ease-in-out, color .7s ease-in-out;
  }

  h5 {
    color: $blue4;
    transition: color .7s ease-in-out;
  }

  .header-left {
    text-decoration: none;
    position: absolute;
    left: 25px;
  }

  .header-left-resume {
    top: 15px;
  }

  .header-left-linkedin {
    top: 40px;
  }

  .header-left-github {
    top: 65px;
  }

  .logo-left {
    display: flex;
    width: 61px;
    height: 61px;
    background-color: $blue4;
    align-items: center;
    justify-content: center;
    color: $white1;
    transition: background-color .7s ease-in-out;
  }

  .logo-green {
    background-color: $green4;
  }

  .logo-red {
    background-color: $orange4;
  }

  .logo-text-green {
    color: $green1;
  }

  .logo-text-red {
    color: $orange1;
  }

  .green-text {
    color: $green4 !important;
  }

  .green-text:hover {
    color: $green5 !important;
  }

  .red-text {
    color: $orange4 !important;
  }

  .red-text:hover {
    color: $orange5 !important;
  }
}

.header-size {
  height: 70px;
}

.logo-size {
  transform: scale(.7);
}

