/******  GLOBAL CSS VARIABLES  ******/

/***  COLORS  ***/
$grey1: #f1f2f2;
$grey2: #d1d3d4;
$grey3: #a7a9ac;
$grey4: #808285;
$grey5: #6d6e71;
$grey6: #414042;
$grey7: #231f20;

$green1: #dbffdb;
$green2: #b8ffb8;
$green3: #94ff94;
$green4: #3fe03f;
$green5: #278027;
$green6: #206020;

$blue1: #d6e0ff;
$blue2: #aec2ff;
$blue3: #85a3ff;
$blue4: #5c7ee5;
$blue5: #1a3380;
$blue6: #0d1a40;

$orange1: #ffded4;
$orange2: #ffbda9;
$orange3: #ff9c7d;
$orange4: #ff6d40;
$orange5: #802d13;
$orange6: #40160a;

$yellow1: #faf4d5;
$yellow2: #f5e9ac;
$yellow3: #f0dd82;
$yellow4: #ffdf40;
$yellow5: #ac9523;
$yellow6: #736317;

$white1: #fff;

/***  FONTS  ***/
$font-logo: 'vortice-concept', sans-serif;
$font-display: 'azo-sans-web', sans-serif;
$font-para: 'azo-sans-web', sans-serif;

$h1: 18px;
$h2: 30px;
$h3: 24px;
$h4: 18px;
$h5: 14px;
$h6: 10px;

* {
  font-size: 16px;
  font-family: $font-para;
  outline: none;
  color: $grey5;
}

h1 {
  font-family: $font-logo;
}

h2, h3, h4, h5, h6 {
  font-family: $font-display;
  line-height: 1.5;
}

h1 { font-size: $h1 }
h2 { font-size: $h2 }
h3 { font-size: $h3 }
h4 { font-size: $h4 }
h5 { font-size: $h5 }
h6 { font-size: $h6 }

p {
  font-size: 14px;
  line-height: 1.5;
  font-weight: 900;
  font-family: $font-para;
}

::placeholder {
  opacity: .5;
  text-align: center;
};

/***  MIXINS  ***/
@mixin match-h1 {
  font-family: $font-logo;
  font-size: $h1;
}

@mixin match-h2 {
  font-family: $font-display;
  font-size: $h2;
}

@mixin match-h3 {
  font-family: $font-display;
  font-size: $h3;
}

@mixin match-h4 {
  font-family: $font-display;
  font-size: $h4;
}

@mixin match-h5 {
  font-family: $font-display;
  font-size: $h5;
}

@mixin match-h6 {
  font-family: $font-display;
  font-size: $h6;
}

@mixin match-p {
  font-family: $font-para;
  font-size: 16px;
}

@mixin primary-content {
  width: 1152px;
  margin: 20px auto;
}

@mixin medium-content {
  width: 675px;
  margin: 20px auto;
}

@mixin small-content {
  width: 400px;
  margin: 20px auto;
}

@mixin std-transition {
  transition: all .3s ease-in-out;
}



